ADMIN_USERNAME=admin
ADMIN_PASSWORD=123456

# Em um projeto oficial em producao a senha do admin não fica no .example, aí o usuário teria que perguntar para quem tem senha do admin.
# Considerando que nosso projeto não vai ser posto em producao, vc pode criar o login do admin por aqui. é só por a senha que quiser na variável password.